.grid {
    max-width: 1300px;
    padding: 0 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    justify-items: center;
}

@media (max-width: 85em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 53em) {
    .grid {
        grid-template-columns: 1fr;
    }
}