.container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container img {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

.title {
    margin-right: auto;
}

.quantity {
    font-size: 1rem;
    color: #6c757d;
    margin-left: 0.5rem;
}

.pricing {
    font-size: 1.2rem;
    color: #6c757d;
}

.btn__remove {
    background-color: transparent;
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn__remove:hover {
    color: #fff;
    background-color: #dc3545;
}