@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  /* making it so 1rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f8f9fa;
  
}

a {
  text-decoration: none;
  color: unset;
}